.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    text-align: center;
}
ul{
    list-style: none;
    padding: 0;
}
.menu-list{
    background-color: #fff !important;
}
.card>.menu-element{
    margin: 20px 32px 20px 32px;
    width: auto;
}