.operation_change-element{
    width: 270px;
    color: rgba(0,0,0,.4);
    /*z-index: 5;*/
    margin-right: 0;
}
.operation_change-element .header{
    text-align: center;
    padding: 20px;
    margin: 0;
    cursor: pointer;
}
#operations_header {
    border-bottom: 3px solid rgb(241, 70, 53);
    color: rgb(241, 70, 53);
    padding-bottom: 17px;
}
#phone_header{
    border-bottom: 3px solid rgb(241, 70, 53);
    color: rgb(241, 70, 53);
    padding-bottom: 17px;
}
.operation_change-element #byIban{
    margin-left: -270px;
    /*display: flex;*/
    display: none;
}
#byPhone{
    /*display: none !important;*/
    display: flex;
}


.operation_block{
    width: 540px;
    display: block;
    /*display: none;*/
}
.history_block{
    width: 540px;
    margin-left: -270px;
    /*display: block;*/
    display: none;
}



.card-info_block{
    width: 440px;
    padding: 20px 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    align-items: baseline;
    line-height: 40px;
    flex-wrap: wrap;
}

.card-info_block input{
    width: 100%;
    line-height: 24px;
    border: 1px #ddd solid;
    font-size: 17px;
    align-items: baseline;
    padding: 5px 15px;
    outline-offset: 0;
    color: inherit;
    font-family: inherit;
    font: inherit;
}
.card-info_block h3{
    margin: 0 0 0 150px;
    width: 140px;
    text-align: right;
    color: #4a4a4a;
}
.card-info_block a{
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: 380px;
    border: 0;
}
.card-info_block .kaspi_gold{
    margin-left: 0;
    background: url(img/i-gold-x1.png) no-repeat center left;
}
.card-info_block p{
    margin: 0 0 0 50px;
    line-height: 50px;
}

.byPhone a{
    background: url(img/kontakt.png) no-repeat center right;
}
.byIban a{
    background: url(img/i-polychenie-x1.png) no-repeat center right;
}

.byIban input{
    margin-left: 50px;
}

.search_form{
    width: 440px;
}
.search_form a{
    margin-left: 7px;
    background: url(img/dt-i-search1.png) no-repeat center left;
}
.date{
    margin-top: 7px;
}
.date a{
    background: url(img/i-yslygi-x1.png) no-repeat center left;
}
.search_form input{
    width: 373px;
    padding-left: 50px;
}


.history_list table{
    width: 100%;
}
.history_list a{
    margin-left: 0;
    width: 40px;
    background: url(img/kontakt.png) no-repeat center left;
    top: 50.7%;
}
.history_list li a{
    background: url(img/i-regist-x2.png) no-repeat center left;
}
.history_list ul{
    padding-left: 30px;
    list-style: none;
    line-height: 20px;
}
.history_list li{
    font-size: 12px;
}
.history_list li p{
    font-size: 16px;
    color: #4a4a4a;
    margin: 0 0 0 30px;
}
.history_list tr{
    border-bottom: 1px solid #ababab ;
}




.operation-element{
    width: 220px;
    text-align: center;
    margin: 0 !important;
    padding-bottom: 20px;
    /*border-bottom: 3px solid rgb(241, 70, 53);*/
}
#refill_header{
    border-bottom: 3px solid rgb(241, 70, 53);
    color: rgb(241, 70, 53);
    padding-bottom: 17px;
}
.operation-element:after .menu-emerging_block{
    display: block;
    margin-left: -32px;
    margin-top: 0;
}
.kaspi_pay-signIn-block table{
    width: 100%;
}
.kaspi_pay-signIn-block ul{
    padding: 0;
    list-style: none;
}
.operation_change-element h1{
    text-align: center;
    padding: 20px;
    margin: 0;
    cursor: pointer;
}
.operation_element{
    width: 180px;
    color: rgba(0,0,0,.4);
    margin-right: 0;
}
.operation_element .header{
    font-size: 20px;
}
#refill{
    display: block;
}
#transfer{
    margin-left: -180px;
    display: none;
}
#purchase{
    margin-left: -360px;
    display: none;
}






.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0;
    bottom: -3px;
    background-color: #eae8e8;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5ecb68;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5ecb68;
}
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
    background-color: #269d31;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.row{
    width: 440px;
    border-top: #ababab 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signIn-button{
    border: 1px solid #0089d0 !important;
    padding: 10px 15px 10px 15px;
    margin: 20px 50px;
}


.header-block{
    background-color: #fff;
    width: 100%;
    font-size: 17px;
    box-shadow: 0 4px 20px rgb(0 0 0 / 8%);
    position: fixed;
    z-index: 20;
    top: 0;
}
.menu-block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 75px;
    max-width: 1200px;
    overflow: auto;
    margin: 0 auto;
    padding: 18px 0;
    flex-wrap: wrap;
}
.menu-logo{
    display: flex;
    align-items: center;
    height: 35px;
}

.menu-list{
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    /*align-items: center;*/
    padding: 7px 0;
    list-style: none;
}
.menu-element{
    margin-right: 64px;
    color: rgba(0,0,0,.4);
    z-index: 5;
}
.menu-element:hover{
    cursor: pointer;
    color: #1f1f1f;
}
.menu-element:hover .menu-emerging_block{
    display: flex;
}
.menu-emerging_block:hover {
    display: flex;
}
.menu-emerging_block{
    width: auto;
    height: auto;
    border:0;
    border-radius: 20px;
    padding: 36px 64px;
    margin-top: 35px;
    position: absolute;
    background-color: white;
    color: #000;
    transition: 5000ms;
    display: none;
}
.client{
    margin-left: -127px;
}
.business{
    margin-left: -268px;
}
.gid{
    margin-left: -64px;
    width: 66px;
}
.menu-products{
    list-style: none;
    padding: 0;
    width: 234px;
}
.menu-services{
    list-style: none;
    padding: 0;
    width: 234px;
}
.menu-emerging_element{
    padding-bottom: 20px;
    font-size: 14px;
}
.menu-emerging_element:last-child{
    padding: 0;
}
.bold{
    font-weight: bold;
    padding-bottom: 24px;
    font-size: 17px;
}