<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Kaspi Pay</title>
        <link href="../static/main_style.css" th:href="@{/main_style.css}" rel="stylesheet" />
        <link href="../static/menu_style.css" th:href="@{/menu_style.css}" rel="stylesheet" />
        <link href="../static/account_style.css" th:href="@{/account_style.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:insert="menu.html" class="content"></div>

        <div class="container">

            <div th:if="${success}">
                <div id="success_block">
                    <b>Регистрация прошла успешно!</b>
                    <a onclick="closeSuccess()">Понятно</a>
                </div>
            </div>

            <h1>Мой Счет</h1>
            <div class="card-info_block">
                <tr class="" th:each="ibans: ${iban}" style="height: 40px">
                    <td>
                        <a href="" class="kaspi_gold"></a>
                        <p> Kaspi Gold *</p>
                        <p>
                            <td th:text="${ibans.getId()}"></td>
                        </p>
                    </td>
                    <h3>
                        <td th:text="${ibans.getSum()}"></td>
                    </h3>
                </tr>
            </div>

            <ul class="menu-list">
                <li class="account-element">
                    <h1 class="header" id="actions_header" onclick="toActions()">Действия</h1>
                    <div class="action_block" id="actions">
                        <div class="card-info_block">
                            <ul class="menu-actions">
                                <li class="menu-emerging_element">
                                    <a>
                                        Kaspi QR
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a th:href="@{/addOperation/{id}(id=${user.id})}">
                                        Перевести
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        Пополнить Kaspi Gold
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        Оплата в интернете
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        Сменить ПИН-код
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        Заблокировать карту
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        Снять деньги без карты
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="account-element">
                    <h1 class="header" id="info_header" onclick="toInfo()">Инфо</h1>
                    <div class="info-block" id="info">
                        <div class="card-info_block">
                            <ul class="menu-info">
                                <li class="menu-emerging_element">
                                    <a>
                                        Аналитика покупок
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        Лимиты на снятие наличных
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        Реквизиты карты и счета
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        Справки
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        Условия Kaspi Gold
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        Ближайшие банкоматы
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        Полезные советы
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="account-element">
                    <h1 class="header" id="extract_header" onclick="toExtract()">Выписка</h1>
                    <div class="extract_block" id="extract">

                        <div class="card-info_block">
                            <ul class="menu-extract">
                                <li class="menu-emerging_element">
                                    <form action="/searchByDate" class="search_form" method="post">
                                        <a href=""></a>
                                        <input type="date" placeholder="21 ноября - 28 ноября">
                                    </form>
                                </li>
                                <li class="menu-emerging_element">
                                    <a th:href="@{/operations/{id}(id=${user.id})}">
                                        Операции
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <div class="extract_element">
                            <tr th:each="operation: ${operations}">
                                <div class="extract_message_element">
                                    <div class="ibans">
                                        От Kaspi*
                                        <td th:text="${operation.getIbanSender()}"></td>
                                        > Kaspi*
                                        <td th:text="${operation.getIbanGetter()}"></td>
                                    </div>
                                    <div class="sum">
                                        <td th:text="${operation.getOperation_type()}"></td>
                                        <td th:text="${operation.getSum()}"></td>
                                    </div>
                                </div>

                                <div class="extract_sms">
                                    <td th:text="${operation.getMessage()}"></td>
                                </div>
                            </tr>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </body>
    <script>
        if(success){
            alert("Регистрация прошла успешно!")
        }
        // else{
        //     alert("Что-то пошло не так")
        // }
        function closeSuccess(){
            success_block.style.display = "none";
        }
        function toActions(){
            actions.style.display = "block";
            info.style.display = "none";
            extract.style.display = "none";

            actions_header.style.borderBottom = "3px solid rgb(241, 70, 53)";
            actions_header.style.color = "rgb(241, 70, 53)";
            actions_header.style.paddingBottom = "17px";

            info_header.style.borderBottom = 0;
            info_header.style.color = "rgba(0,0,0,.4)";
            info_header.style.paddingBottom = "20px";

            extract_header.style.borderBottom = 0;
            extract_header.style.color = "rgba(0,0,0,.4)";
            extract_header.style.paddingBottom = "20px";
        }
        function toInfo(){
            actions.style.display = "none";
            info.style.display = "block";
            extract.style.display = "none";

            actions_header.style.borderBottom = 0;
            actions_header.style.color = "rgba(0,0,0,.4)";
            actions_header.style.paddingBottom = "20px";

            info_header.style.borderBottom = "3px solid rgb(241, 70, 53)";
            info_header.style.color = "rgb(241, 70, 53)";
            info_header.style.paddingBottom = "17px";

            extract_header.style.borderBottom = 0;
            extract_header.style.color = "rgba(0,0,0,.4)";
            extract_header.style.paddingBottom = "20px";
        }
        function toExtract(){
            actions.style.display = "none";
            info.style.display = "none";
            extract.style.display = "block";

            actions_header.style.borderBottom = 0;
            actions_header.style.color = "rgba(0,0,0,.4)";
            actions_header.style.paddingBottom = "20px";

            info_header.style.color = "rgba(0,0,0,.4)";
            info_header.style.paddingBottom = "20px";
            info_header.style.borderBottom = 0;

            extract_header.style.borderBottom = "3px solid rgb(241, 70, 53)";
            extract_header.style.color = "rgb(241, 70, 53)";
            extract_header.style.paddingBottom = "17px";
        }
    </script>
</html>