<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Kaspi Pay</title>
        <link href="../static/main_style.css" th:href="@{/main_style.css}" rel="stylesheet" />
        <link href="../static/menu_style.css" th:href="@{/menu_style.css}" rel="stylesheet" />
        <link href="../static/account_style.css" th:href="@{/account_style.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:insert="menu.html" class="content"></div>

        <div class="container">
            <h1>Мой Счет</h1>
            <div class="card-info_block">
                <tr class="" th:each="ibans: ${iban}" style="height: 40px">
                    <td>
                        <a href="" class="kaspi_gold"></a>
                        <p> Kaspi Gold *</p>
                        <p>
                            <td th:text="${ibans.getId()}"></td>
                        </p>
                    </td>
                    <h3>
                        <td th:text="${ibans.getSum()}">
                        </td>
                    </h3>
                </tr>
            </div>

            <ul class="menu-list">
                <li class="account-element">
                    <h1 class="header" onclick="toActions()">Действия</h1>
                    <div class="action_block" id="actions">
                        <div class="card-info_block">
                            <ul class="menu-actions">
                                <li class="menu-emerging_element">
                                    <a>
                                        <img src="../static/img/kaspiQR.png" alt="kaspiQR">
                                        Kaspi QR
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a th:href="@{/addOperation/{id}(id=${user.id})}">
                                        Перевести
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        <img src="" alt="">
                                        Пополнить Kaspi Gold
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        <img src="" alt="">
                                        Оплата в интернете
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        <img src="" alt="">
                                        Сменить ПИН-код
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        <img src="" alt="">
                                        Заблокировать карту
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        <img src="" alt="">
                                        Снять деньги без карты
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="account-element">
                    <h1 class="header" onclick="toInfo()">Инфо</h1>
                    <div class="info-block" id="info">
                        <div class="card-info_block">
                            <ul class="menu-info">
                                <li class="menu-emerging_element">
                                    <a>
                                        <img src="" alt="">
                                        Аналитика покупок
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        <img src="" alt="">
                                        Лимиты на снятие наличных
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        <img src="" alt="">
                                        Реквизиты карты и счета
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        <img src="" alt="">
                                        Справки
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        <img src="" alt="">
                                        Условия Kaspi Gold
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        <img src="" alt="">
                                        Ближайшие банкоматы
                                    </a>
                                </li>
                                <li class="menu-emerging_element">
                                    <a>
                                        <img src="" alt="">
                                        Полезные советы
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="account-element">
                    <h1 class="header" onclick="toExtract()">Выписка</h1>
                    <div class="extract_block" id="extract">
                        <div class="card-info_block">
                            <ul class="menu-extract">
                                <li class="menu-emerging_element">
                                    <form action="/searchByDate" class="search_form" method="post">
                                        <a href=""></a>
                                        <input type="date" placeholder="21 ноября - 28 ноября">
                                    </form>
                                </li>
                                <li class="menu-emerging_element">
                                    <a th:href="@{/operations/{id}(id=${user.id})}">
                                        Операции
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <div class="card-info_block">
                            <tr th:each="operation: ${operations}">
                                from
                                <td th:text="${operation.getIbanSender()}"></td>
                                to
                                <td th:text="${operation.getIbanGetter()}"></td>
                                <td th:text="${operation.getOperation_type()}"></td>
                                <td th:text="${operation.getSum()}"></td>
                                <td th:text="${operation.getMessage()}"></td>
                                <br>
                            </tr>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </body>
    <script>
        function toActions(){
            actions.style.display = "block";
            info.style.display = "none";
            extract.style.display = "none";
        }
        function toInfo(){
            actions.style.display = "none";
            info.style.display = "block";
            extract.style.display = "none";
        }
        function toExtract(){
            actions.style.display = "none";
            info.style.display = "none";
            extract.style.display = "block";
        }
    </script>
</html>