<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link href="../static/main_style.css" th:href="@{/main_style.css}" rel="stylesheet" />-->
    <link href="../static/menu_style.css" th:href="@{/menu_style.css}" rel="stylesheet" />
<!--</head>-->
<!--<body>-->
    <div class="header-block" th:fragment="menu">
        <div class="menu-block">
            <div class="menu-logo">
                <a></a>
            </div>

            <ul class="menu-list">
                <li class="menu-element">
                    <a th:href="@{/account/{id}(id=${user.id})}">
                        Мой Банк
                    </a>
                </li>
                <li class="menu-element">
                    <a th:href="@{/payment/{id}(id=${user.id})}">
                        Платежи
                    </a>
                </li>
                <li class="menu-element">
                    <a th:href="@{/messages/{id}(id=${user.id})}">
                        Сообщения
                    </a>
                </li>
            </ul>
            <div id="logOut">
                <a th:href="@{/logout/{id}(id=${user.id})}">LogOut</a>
            </div>
        </div>
    </div>
<!--</body>-->