<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Kaspi Pay</title>
        <link href="../static/main_style.css" th:href="@{/main_style.css}" rel="stylesheet" />
        <link href="../static/account_style.css" th:href="@{/account_style.css}" rel="stylesheet"/>
        <link href="../static/message_style.css" th:href="@{/message_style.css}" rel="stylesheet"/>
    </head>
    <body>
        <div th:insert="menu.html" class="content"></div>

        <div class="container">
            <ul class="menu-list operation_change-list">
                <li class="account-element message-menu_element">
                    <h1 class="header" id="message_header" onclick="toMessage()">Сообщения</h1>
                    <div id="message">
                        <div class="message_block">
                            <tr th:each="message: ${messages}">
                                <div class="message_element">
                                    Владелец счета KZ00900<td th:text="${message.getIban_sender()}"></td> перевел Вам:
                                    <td th:text="${message.getSum()}"></td> тенге
                                </div>
                                <div class="sms">
                                    <td th:text="${message.getMessage()}"></td>
                                </div>
                            </tr>
                        </div>
                    </div>
                </li>
                <li class="account-element message-menu_element">
                    <h1 class="header" id="sell_header" onclick="toSell()">Акции</h1>
                    <div id="sell">
                        <div class="message_block">

                            <tr th:each="sell: ${sells}">
                                <div class="message_element">
                                    <td th:text="${sell.getCompanyName()}">Company name</td>
                                    <br>
                                    <td th:text="${sell.getDescription()}">Description</td>
                                    <a href="/" class="success_button">Купить сейчас</a>
                                </div>
                            </tr>
<!--                            <tr th:each="messages: ${message}">-->
<!--                                <td th:text="${messages.getIban_sender()}"></td> перевел Вам:-->
<!--                                <td th:text="${messages.getSum()}"></td>-->
<!--                                <td th:text="${messages.getMessage()}"></td>-->
<!--                                <br>-->
<!--                            </tr>-->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </body>
    <script>
        function toMessage(){
            message.style.display = "block";
            sell.style.display = "none";

            message_header.style.borderBottom = "3px solid rgb(241, 70, 53)";
            message_header.style.color = "rgb(241, 70, 53)";
            message_header.style.paddingBottom = "17px";

            sell_header.style.borderBottom = 0;
            sell_header.style.color = "rgba(0,0,0,.4)";
            sell_header.style.paddingBottom = "20px";
        }
        function toSell(){
            message.style.display = "none";
            sell.style.display = "block";

            message_header.style.borderBottom = 0;
            message_header.style.color = "rgba(0,0,0,.4)";
            message_header.style.paddingBottom = "20px";

            sell_header.style.borderBottom = "3px solid rgb(241, 70, 53)";
            sell_header.style.color = "rgb(241, 70, 53)";
            sell_header.style.paddingBottom = "17px";
        }
    </script>
</html>