<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Kaspi Pay</title>
        <link href="../static/main_style.css" th:href="@{/main_style.css}" rel="stylesheet" />
        <link href="../static/messages_style.css" th:href="@{/messages_style.css}" rel="stylesheet" />
    </head>
    <body>
        <h1>Сообщения</h1>
        <tr th:each="messages: ${message}">
            Владелец счета KZ00900<td th:text="${messages.iban_sender}"></td> перевел Вам:
            <br>
            <td th:text="${messages.sum}"></td>
            <br>
            <td th:text="${message.getMessage()}"></td>
        </tr>
        <p> </p>
    </body>
</html>