<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Kaspi Pay</title>
        <link href="../static/main_style.css" th:href="@{/main_style.css}" rel="stylesheet" />
        <link href="../static/operation_style.css" th:href="@{/operation_style.css}" rel="stylesheet" />
<!--        <link href="../static/kaspiPay_style.css" th:href="@{/kaspiPay_style.css}" rel="stylesheet" />-->
    </head>
    <body>
    <div th:insert="menu.html" class="content"></div>

    <div class="container">
        <ul class="menu-list operation_change-list">
            <li class="operation_change-element operation_element">
                <h1 class="header" id="refill_header" onclick="toRefill()">Пополнения</h1>
                <div id="refill">
                    <div class="extract_element">
                        <tr th:each="operation: ${plusOperations}">
                            <div class="extract_message_element">
                                <div class="ibans">
                                    Oт Владельца Kaspi*<td th:text="${operation.getIbanSender()}"></td>
                                </div>
                                <div class="sum">
                                    <td th:text="${operation.getOperation_type()}"></td>
                                    <td th:text="${operation.getSum()}"></td>
                                </div>
                            </div>
                            <div class="extract_sms">
                                <td th:text="${operation.getMessage()}"></td>
                            </div>
                        </tr>
                    </div>
                </div>
            </li>
            <li class="operation_change-element operation_element">
                <h1 class="header" id="transfer_header" onclick="toTransfer()">Переводы</h1>
                <div id="transfer">
                    <div class="extract_element">
                        <tr th:each="operation: ${minusOperations}">
                            <div class="extract_message_element">
                                <div class="ibans">
                                    Вдадельцу Kaspi*<td th:text="${operation.getIbanGetter()}"></td>
                                </div>
                                <div class="sum">
                                    - <td th:text="${operation.getSum()}"></td>
                                </div>
                            </div>

                            <div class="extract_sms">
                                <td th:text="${operation.getMessage()}"></td>
                            </div>
                        </tr>
                    </div>
                </div>
            </li>
            <li class="operation_change-element operation_element">
                <h1 class="header" id="purchase_header" onclick="toPurchase()" >Покупки</h1>
                <div id="purchase">
                    <div class="card-info_block">
                        <tr th:each="operation: ${buyOperations}">
                        <div class="ibans">
                            <a></a>
                            Beeline
                            Платежи на Kaspi.kz
                        </div>
                        <div class="sum">
                            -
                            <td th:text="${operation.getSum()}"></td>
                        </div>
                        </tr>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <script>
        function toRefill(){
            refill.style.display = "block";
            transfer.style.display = "none";
            purchase.style.display = "none";

            refill_header.style.borderBottom = "3px solid rgb(241, 70, 53)";
            refill_header.style.color = "rgb(241, 70, 53)";
            refill_header.style.paddingBottom = "17px";

            transfer_header.style.borderBottom = 0;
            transfer_header.style.color = "rgba(0,0,0,.4)";
            transfer_header.style.paddingBottom = "20px";

            purchase_header.style.borderBottom = 0;
            purchase_header.style.color = "rgba(0,0,0,.4)";
            purchase_header.style.paddingBottom = "20px";

        }
        function toTransfer(){
            refill.style.display = "none";
            transfer.style.display = "block";
            purchase.style.display = "none";

            refill_header.style.borderBottom = 0;
            refill_header.style.color = "rgba(0,0,0,.4)";
            refill_header.style.paddingBottom = "20px";

            transfer_header.style.borderBottom = "3px solid rgb(241, 70, 53)";
            transfer_header.style.color = "rgb(241, 70, 53)";
            transfer_header.style.paddingBottom = "17px";

            purchase_header.style.borderBottom = 0;
            purchase_header.style.color = "rgba(0,0,0,.4)";
            purchase_header.style.paddingBottom = "20px";
        }
        function toPurchase(){
            refill.style.display = "none";
            transfer.style.display = "none";
            purchase.style.display = "block";

            refill_header.style.borderBottom = 0;
            refill_header.style.color = "rgba(0,0,0,.4)";
            refill_header.style.paddingBottom = "20px";

            transfer_header.style.borderBottom = 0;
            transfer_header.style.color = "rgba(0,0,0,.4)";
            transfer_header.style.paddingBottom = "20px";

            purchase_header.style.borderBottom = "3px solid rgb(241, 70, 53)";
            purchase_header.style.color = "rgb(241, 70, 53)";
            purchase_header.style.paddingBottom = "17px";
        }
    </script>
    </body>
</html>