<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kaspi Pay</title>
    <link href="../static/main_style.css" th:href="@{/main_style.css}" rel="stylesheet" />
    <link href="../static/kaspiPay_style.css" th:href="@{/kaspiPay_style.css}" rel="stylesheet" />
    <script src="dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/sweetalert.css">
</head>
<body>
    <div class="container">
        <div class="kaspi_pay-logo-block">
            <a href=""></a>
        </div>

        <div class="kaspi_pay-signIn-block">
            <h1>Вход</h1>
            <form action="/myLog" method="post" class="kaspi_pay-signIn-form">
                <input type="text" placeholder="Мобильный номер" name="phone_number">
                <input type="password" placeholder="Пароль" name="password">
                <input type="submit" value="Войти" class="signIn-button">
            </form>
            <a href="/">Забыли пароль?</a>
            <br>
            <a href="/register">Нет аккаунта?</a>
        </div>

        <div class="kaspi_pay-git-block">
            <a>
                <h2>Kaspi Гид</h2>
            </a>
            <p>расскажем все о наших сервисах</p>
        </div>

        <div class="kaspi_pay-footer">
            <div class="kaspi_pay-footer-info-block">
                <p>
                    © 2012-2022 гг. АО «Kaspi Bank»,
                    <br>
                    Лицензия №1.2.245/61, 03.02.2020, АРКРРФР.
                </p>

                <ul>
                    <li>
                        <a id="telegram">
<!--                            <img src="img/telegram.png" alt="telegram">-->
                        </a>
                    </li>
                    <li>
                        <a id="youtube">
<!--                            <img src="img/youtube.png" alt="youtube">-->
                        </a>
                    </li>
                    <li>
                        <a id="facebook">
<!--                            <img src="img/facebook.png" alt="facebook">-->
                        </a>
                    </li>
                </ul>

                <a>
                    Корпоративный сайт.
                </a>
                <br>
                <a>
                    Пользовательское соглашение.
                </a>

            </div>

            <div class="kaspi_pay-footer-app_link-block">
                <div class="app_link">
                    <a id="appstore" href="https://apps.apple.com/kz/app/kaspi-бизнес/id1262997215"></a>
                </div>
                <div class="app_link">
                    <a id="googleplay" href="https://play.google.com/store/apps/details?id=hr.asseco.android.kaspibusiness&pli=1"></a>
                </div>
                <div class="app_link">
                    <a id="appgalary" href="https://appgallery.huawei.com/app/C103703341?sharePrepath=ag&locale=ru_RU&source=appshare&subsource=C103703341"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>