<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Kaspi Pay</title>
        <link href="../static/main_style.css" th:href="@{/main_style.css}" rel="stylesheet" />
        <link href="../static/menu_style.css" th:href="@{/menu_style.css}" rel="stylesheet" />
        <link href="../static/account_style.css" th:href="@{/account_style.css}" rel="stylesheet" />
        <link href="../static/payment_style.css" th:href="@{/payment_style.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:insert="menu.html" class="content"></div>

            <div class="container">
                <ul class="menu-list">
                    <li class="account-element">
                        <h1 class="header" id="everything_header" onclick="toEverything()">Все</h1>
                        <div id="all">
                            <div class="card-info_block">
                                <form action="/searchByName" class="search_form" method="post">
                                    <a href=""></a>
                                    <input type="text" placeholder="Что хотите оплатить?">
                                </form>
                            </div>
                            <br>
                            <div class="card-info_block">
                                <ul class="menu-actions">
                                    <li class="menu-emerging_element">
                                        <a th:href="@{/addPayment/{id}(id=${user.id})}">
                                            Мобильный
                                        </a>
                                    </li>
                                    <li class="menu-emerging_element">
                                        <a>
                                            Коммуналка и телефон
                                        </a>
                                    </li>
                                    <li class="menu-emerging_element">
                                        <a>
                                            Транспорт
                                        </a>
                                    </li>
                                    <li class="menu-emerging_element">
                                        <a>
                                            Интернет и ТВ
                                        </a>
                                    </li>
                                    <li class="menu-emerging_element">
                                        <a>
                                            Образование
                                        </a>
                                    </li>
                                    <li class="menu-emerging_element">
                                        <a>
                                            Штрафы и налоги
                                        </a>
                                    </li>
                                    <li class="menu-emerging_element">
                                        <a>
                                            Красота и здоровье
                                        </a>
                                    </li>
                                    <li class="menu-emerging_element">
                                        <a>
                                            Финансовые услуги
                                        </a>
                                    </li>
                                    <li class="menu-emerging_element">
                                        <a>
                                            Билеты
                                        </a>
                                    </li>
                                    <li class="menu-emerging_element">
                                        <a>
                                            Покупки и заказы
                                        </a>
                                    </li>
                                    <li class="menu-emerging_element">
                                        <a>
                                            Развлечения и отдых
                                        </a>
                                    </li>
                                    <li class="menu-emerging_element">
                                        <a>
                                            Благотворительность
                                        </a>
                                    </li>
                                    <li class="menu-emerging_element">
                                        <a>
                                            Сайты объявлений
                                        </a>
                                    </li>
                                    <li class="menu-emerging_element">
                                        <a>
                                            Игры
                                        </a>
                                    </li>
                                    <li class="menu-emerging_element">
                                        <a>
                                            Другое
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="account-element">
                        <h1 class="header" id="payment_header" onclick="toPayment()">Платежи</h1>
                        <div id="payment">
                            <div class="card-info_block">
                                <form action="/searchByName" class="search_form" method="post">
                                    <a href=""></a>
                                    <input type="text" placeholder="Что хотите оплатить?">
                                </form>
                            </div>
                            <br>
                            <div class="card-info_block">
                                <ul class="menu-info">
                                    <li>
                                        <p style="margin: 0; color: #ababab; font-size: 14px">Частые</p>
                                    </li>
                                    <li>
                                        <a th:href="@{/addPayment/{id}(id=${user.id})}">
                                            Мобильный
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="account-element">
                        <h1 class="header" id="history_header" onclick="toHistory()">История</h1>
                        <div id="histories">
                            <div class="card-info_block">
                                <ul class="menu-extract">
                                    <li class="menu-emerging_element">
                                        <form action="/searchByName" class="search_form" method="post">
                                            <a href=""></a>
                                            <input type="text" placeholder="Услуга, сумма">
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <div class="card-info_block">
                                <tr th:each="operation: ${operations}">
                                    Пополнение баланса на сумму:
                                    <td th:text="${operation.getSum()}"></td>
                                    тенге.
                                    <br>
                                </tr>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
    </body>
    <script>
        function toEverything(){
            all.style.display = "block";
            payment.style.display = "none";
            histories.style.display = "none";

            everything_header.style.borderBottom = "3px solid rgb(241, 70, 53)";
            everything_header.style.color = "rgb(241, 70, 53)";
            everything_header.style.paddingBottom = "17px";

            payment_header.style.borderBottom = 0;
            payment_header.style.color = "rgba(0,0,0,.4)";
            payment_header.style.paddingBottom = "20px";

            history_header.style.borderBottom = 0;
            history_header.style.color = "rgba(0,0,0,.4)";
            history_header.style.paddingBottom = "20px";
        }
        function toPayment(){
            all.style.display = "none";
            payment.style.display = "block";
            histories.style.display = "none";

            everything_header.style.borderBottom = 0;
            everything_header.style.color = "rgba(0,0,0,.4)";
            everything_header.style.paddingBottom = "20px";

            payment_header.style.borderBottom = "3px solid rgb(241, 70, 53)";
            payment_header.style.color = "rgb(241, 70, 53)";
            payment_header.style.paddingBottom = "17px";

            history_header.style.borderBottom = 0;
            history_header.style.color = "rgba(0,0,0,.4)";
            history_header.style.paddingBottom = "20px";
        }
        function toHistory(){
            all.style.display = "none";
            payment.style.display = "none";
            histories.style.display = "block";

            everything_header.style.borderBottom = 0;
            everything_header.style.color = "rgba(0,0,0,.4)";
            everything_header.style.paddingBottom = "20px";

            payment_header.style.borderBottom = 0;
            payment_header.style.color = "rgba(0,0,0,.4)";
            payment_header.style.paddingBottom = "20px";

            history_header.style.borderBottom = "3px solid rgb(241, 70, 53)";
            history_header.style.color = "rgb(241, 70, 53)";
            history_header.style.paddingBottom = "17px";
        }
    </script>
</html>