<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Kaspi Pay</title>
        <link href="../static/main_style.css" th:href="@{/main_style.css}" rel="stylesheet" />
        <link href="../static/kaspiPay_style.css" th:href="@{/kaspiPay_style.css}" rel="stylesheet" />
    </head>
    <body>
        <h1>Перевод выполнен</h1>
        <a href="/addOperation">Вернуться в переводы</a>
<!--        <tr th:text=""></tr>-->
    </body>
</html>