<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Kaspi Pay</title>
        <link href="../static/main_style.css" th:href="@{/main_style.css}" rel="stylesheet" />
        <link href="../static/menu_style.css" th:href="@{/menu_style.css}" rel="stylesheet" />
        <link href="../static/kaspiPay_style.css" th:href="@{/kaspiPay_style.css}" rel="stylesheet" />
        <link href="../static/success_style.css" th:href="@{/success_style.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:insert="menu.html" class="content"></div>

        <div class="container">
            <div class="success_block">
                <h1>Ваш перевод совершен.</h1>
            </div>
            <a>
                <div class="card-info_block">
                    Показать квитанцию
                    <p>Квитанция сохранена в Истории</p>
                </div>
            </a>
            <div class="card-info_block">
                <div class="row">
                    <p>Сохранить в частые</p>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <br>
                <a th:href="@{/addOperation/{id}(id=${user.id})}" type="submit" class="success_button">Вернуться в переводы</a>
        </div>
    </body>
</html>